.header {
  margin: 0 0 48px 0;
  padding: 19px 0;
  background-color: $color-white;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    width: 180px;
    height: 42px;
  }

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 40px;
    padding: 0;
    background-color: $color-bunting;
    border: none;
    border-radius: 24px;
    cursor: pointer;

    &:hover {
      background-color: $color-zorba;
    }

    &:focus-visible {
      outline: 2px solid $color-zorba;
      outline-offset: 2px;
    }
  }

  @include vp-1023 {
    margin-bottom: 20px;
    padding: 15px 0;

    &__logo {
      width: 152px;
      height: 35px;
    }

    &__menu {
      width: 56px;
      height: 34px;
    }
  }

  @include vp-767 {
    margin-bottom: 20px;
    padding: 15px 0;

    &__content {
      gap: 16px;
    }

    &__logo {
      width: 152px;
      height: 35px;
    }

    &__menu {
      width: 56px;
      height: 34px;
      border-radius: 24px;
    }

    &__menu-icon {
      width: 20px;
      height: 14px;
    }
  }
}
